continut/resurse/persoane.dtd

<!ELEMENT persoane (persoana+)>   <!-- pers+  cel putin o pers, una sau mai multe  --> 

<!ELEMENT persoana (nume, prenume, adresa, perioada_activitate, functie, an_nastere, an_deces)>  <!-- struct unei pers, daca le pui in alta ordine nu merge-->
<!ATTLIST persoana id NMTOKEN #REQUIRED> <!-- required - ca e obligatoriu, NMT... text simplu fara spatii(1, p1), se poate folosi si ID in loc de NMT.. dar nu poate incepe cu cifra  -->

<!ELEMENT nume (#PCDATA)>  <!-- PCDATA - text simplu -->
<!ELEMENT prenume (#PCDATA)>

<!ELEMENT adresa (strada, numar, localitate, judet, tara)>
<!ELEMENT strada (#PCDATA)>
<!ELEMENT numar (#PCDATA)>
<!ELEMENT localitate (#PCDATA)>
<!ELEMENT judet (#PCDATA)>
<!ELEMENT tara (#PCDATA)>

<!ELEMENT perioada_activitate (inceput, sfarsit)>
<!ELEMENT inceput (#PCDATA)>
<!ELEMENT sfarsit (#PCDATA)>

<!ELEMENT functie (#PCDATA)>
<!ELEMENT an_nastere (#PCDATA)>
<!ELEMENT an_deces (#PCDATA)>
